.education-title {
    color: #fff;
    padding-bottom: 4px;
    text-underline-offset: 8px;
    text-decoration: underline #B100E8;
    margin: 13px 0px 30px 8px;  
    font-size: 32px;
}

.timeline-area {
    margin: 20px;
    width: 360px;
    border-left: 2px solid #ccc;
    padding: 0 20px 0 30px;
}

.timeline-area div {
    background-color: #fff;
    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid #ccc;
    line-height: 1.7;;
    position: relative;
    height: 90px;
    margin-bottom: 20px;
}

.timeline-area div::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid #048AFF;
    position: absolute;
    top: 10px;
    left: -39px;
}

.timeline-area div::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
}

.timeline-area div h2 {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #048AFF;
    font-weight: 700;
}

.timeline-area div p {
    margin: 0;
    font-size: 14px;
    color: #000;
}
