.languages-title {
    color: #fff;
    padding-bottom: 4px;
    text-underline-offset: 8px;
    text-decoration: underline #B100E8;
    margin-left: 0px;
    font-size: 32px;
    margin-top: 65px;
    width: 390px;
}


.languages-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 45px;
}

.languages-container-title {
    margin: 0px;
    width: 150px;
    color: #fff;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    .languages {
        width: 340px;
    }

    .languages-title {
        width: 100%;
    }
}