.contact-title {
    color: #fff;
    padding-bottom: 4px;
    text-underline-offset: 8px;
    text-decoration: underline #B100E8;
    margin-left: 0px;
    font-size: 32px;
    margin-top: 65px;
}

.contact-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.contact-container-info-icon {
    color: #fff;
    font-size: 70px;
    margin-bottom: 30px;
}

.contact-container-info-text {
    color: #fff;
    font-size: 22px;
}

@media screen and (max-width: 870px) {
    .contact-container {
        flex-direction: column;
    }
    .contact-container-info-icon {
        font-size: 50px;
    }
    
    .contact-container-info-text {
        color: #fff;
        font-size: 20px;
    }
}