.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: radial-gradient(#111,#222222,#1a1a1a);

}

.main-banner {
    width: 100%;
}

.main-aboutme {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    padding: 150px 0px;
}

.main-aboutme-articles {
    display: flex;
    flex-direction: column;
}