.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: radial-gradient(#111, #202020, #3b3b3b);
}

.main-banner {
    width: 100%;
}