.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: radial-gradient(#111, #222222, #1a1a1a);
}

.main-banner {
  width: 100%;
}

.main-resume {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  padding: 150px 0px;
}

.main-resume-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-projects {
  padding: 150px 30px;
  width: 100%;
  background-color: rgb(27, 27, 27);
}

.main-contact {
  padding: 0px 30px;
  width: 100%;
}

.main-projects-article,
.main-contact-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .main-resume {
    flex-wrap: wrap;
    padding-top: 0px;
    justify-content: center;
  }

  .main-resume-articles {
    margin-top: 100px;
    align-items: center;
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .main-resume-articles {
    width: 100%;
  }

  .main-banner {
    margin-top: 70px;
  }
}

@media screen and (max-width: 550px) {
  .main-banner {
    min-height: 270px;
  }

  .main-resume {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
